.footer-content-fptshop{
  display: flex;
}
.phone-number-support{
  display: flex;
  margin: 0px 20px;
}
.phone{
    margin: 0px 20px;
}
.footer-info-fptshop{
  background: #f2f2f2;
  font-size: 15px;
  color: #6d6d6d;
  text-align: center;
  padding: 10px 2px;
  /* clear: both; */
}
